body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Add to a global CSS file */
.hover-opacity-100:hover {
  opacity: 1 !important;
}

/* Add to a global CSS file */
.transition {
  transition: opacity 0.3s ease;
}

/* Enforce consistent height on h-75 and h-25 elements */
div[class*="h-75"],
div[class*="h-25"] {
  min-height: 0;
  height: 100%;
}

/* index.css or main.css */
body.dark {
  background-color: #121212;
  color: #f5f5f5;
}

body.dark .card {
  background-color: #1e1e1e;
  color: #fff;
}

body.dark .modal-content {
  background-color: #222;
  color: #eee;
}
